html,body,h1,h2,h3,ul,ol,p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, sans-serif;
	color: #333;
}

a {
	outline: none;	
}

.clear {
	clear: both;
}

#authMessage, #flashMessage {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 10px;
	margin-bottom: 1em;
	background: #efefbb;
	position: absolute;
	width: 200px;
	right: 10px;
	top: 50px;
}

pre,.notice,.error {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 1em;
	background: #9c1111;
	color: #fff;
}

pre {
	background: #eee;
	color: #333;
}

.notice {
	background: #ccc;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
