html,body,h1,h2,h3,ul,ol,p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, sans-serif;
	color: #333;
}

a {
	outline: none;	
}

.clear {
	clear: both;
}

#authMessage, #flashMessage {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 10px;
	margin-bottom: 1em;
	background: #efefbb;
	position: absolute;
	width: 200px;
	right: 10px;
	top: 50px;
}

pre,.notice,.error {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 1em;
	background: #9c1111;
	color: #fff;
}

pre {
	background: #eee;
	color: #333;
}

.notice {
	background: #ccc;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#breadcrumbs {
	margin-top: 5px;
}

#header {
	background: #333;
	
	border-bottom: solid 1px #333;
}


#header, #header h1,#header h1 a, #header #site a {
	color: #fff;
}

#status-bar {
	float: right;
	margin-top: -30px;
	padding: 10px;	
}

#status-bar #logout {
	background: #9c0000;
	color: #fff;
	text-decoration: none;
}

#status-bar #logout:hover {
	background: #666;	
}

#status-bar a {
	color: #aaa;
	text-decoration: underline;
	
}

#status-bar a:hover {
	text-decoration: none;
}

#header h1 {
	display: block;
	width: 360px;
	float: left;
	padding: 10px;
}

#header h1,#header h1 a {
	text-decoration: none;
	
}

#header h1 a:hover {
	color: #eee;
	background: #444;
}

#menu-main {
	list-style: none;
	display: block;
	padding-top: 35px;
}


#menu-main li {
	float: left;
	display: block;
	
}

#menu-main li,#menu-main li a {
	color: #fff;
	text-decoration: none;
	
}

#menu-main li a em {
	display: block;
	font-style: normal;
	font-size: 11px;
	color:#eee;	
	font-weight: normal;
}

#menu-main>li>a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#menu-main>li.active>a,#menu-main>li.active>a:hover {
	background: #fff;
	color: #333;
	cursor: auto;
	
}

#menu-main li>ul {
	display: none;
	position: absolute;
}

#menu-main li ul li {
	float: none;
}

#menu-main li ul li ul {
	position: absolute;
	margin-left: 170px;
	margin-top: -40px;
}

#menu-main li a:hover {
	background: #47a;
}

#menu-main li ul li a {
	width: 150px;
	border-bottom: solid 1px #47a;
}

#menu-main li:hover>ul {
	display: block;
}

#menu-main>li>a {
	margin-bottom: -1px;
}

#menu-main li a {
	display: block;
	padding: 5px 10px;
	margin-right: 3px;
	background: #369;
}

#content {
	width: 60%;
	float: left;
}

#center {
	margin: 0 auto;
	width: 600px;
	margin-top: 20px;
}

#content p {
	margin-top: 5px;
	text-indent: 1em;
}

#content form {
	margin: 10px;
}

#content h2 {
	margin: 1em 0;
}

#content h3 a {
	color: #333;
	text-decoration: none;
}

#content h3 a:hover {
	text-decoration: underline;
}

#content>table {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #333;
	width: 100%;
}

#content table p {
	text-indent: 0;
}

#content table .first {
	width: 20px;
	border-left: none;
}

#content tr.odd {
	background: #eee;
}

#content thead tr {
	background: #333;
	color: #fff;
}

#content>table td,#content>table th {
	padding: 2px 5px;
	border-left: solid 1px #ccc;
}

#content fieldset {
	border: none;
	background: #eee;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0;
	padding: 10px 10px 20px 10px;
	overflow: hidden;
}

#content legend {
	display: none;
}

#content fieldset label {
	width: 200px;
	display: block;
	margin-top: 5px;
}

#content fieldset .checkbox label {
	display: inline;
}

#content fieldset .textarea textarea {
	height: 200px;
}

.datetime {
	padding: 5px;
	float: left;	
}

.datetime input {
	margin-left:10px;
	display: inline-block;
	width:80px;
	border:none;
	background: #333;
	color: #fff;
	padding: 3px;
}

#content fieldset .textarea textarea,#content fieldset .password input,#content fieldset .text input
	{
	width: 98%;
	border: solid 1px #aaa;
	padding: 5px;
	font-size: 14px;
	font-family: Verdana, sans;
}

#content fieldset .textarea textarea:focus,#content fieldset .password input:focus,#content fieldset .text input:focus
	{
	background: #fefedd;
}

#content .submit {
	margin-top: -10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #ccc;
	padding: 10px;
	text-align: right;
}

.module {
	background: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 5px 10px 5px;
	clear: both;
	overflow: hidden;
}

.module h3 {
	float: left;
	padding-top: 0;
}

.module .version {
	color: #aaa;
}

.module .description {
	float: right;
	clear: both;
	width: 70%;
	margin-top: 1em;
}

.icon {
	margin-top:15px;
	margin-left:25px;
	width:150px;
}

#content .module .description p {
	text-indent: 0;
}

#content .module.notinstalled h3 {
	color: #9c0000;
}

#content .old .version {
	color: #cc6c00;
}

.notify .actions {
	float: right;
	margin-top: 5px;
}

.module .actions {
	float: right;
	margin-top: 5px;
	visibility: hidden;
}

.module:hover .actions {
	visibility: visible;
}

.tags-list li {
	display: inline-block;
	-moz-border-radius:10px;
	border-radius:10px;
	background: #ddd;
	font-size: 14px;	
	padding: 0 5px;
	margin-right: 5px;
}

.delete, .add {
	display: inline-block;
	background:transparent;
	color:#396;
	padding:0px 5px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-family: sans-serif;
	font-size: 14px;
	margin-left: 2px;	
}

.delete:hover, .add:hover {
	background:#396;
	text-decoration: none;
	color:#fff;
}

.delete {
	color:#9c0000;
	font-size: 10px;
}

.delete:hover {
	background:#9c0000;
}

.button {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #333;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 2px 6px;
}

.button.hover,
.button:hover {
	background: #000;
	text-decoration: none;
}

.button.disabled {
	background: #eee;
	color:#666;
	text-shadow: 1px 1px 1px #fff;	
}

#sidebar-left,#sidebar-right {
	float: left;
	width: 18%;
	margin: 0;
	margin: 0 1%;
	display: inline-block;
	min-height: 100px;
	margin-top: 20px;
}

#sidebar-right {
	float: left;
}

.widget {
	margin-bottom: 10px;
	border: solid 1px #ccc;
	width: 100%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #efefef;
}

.widget .row {
	border-bottom: solid 1px #eee;
}

.widget .last {
	border-bottom: none;
}

.widget h2 {
	background: #369;
	padding: 5px;
	font-size: 14px;
	text-align: left;
	margin: 0 !important;
}

.widget h2, .widget h2 a {
	color: #fff;
	-moz-border-radius:5px;
	border-radius:5px;
}

.widget h2 a {
	text-decoration: none;
	
}

.widget h2 a:hover {
	text-decoration: underline;
}

.widget .content {
	padding: 5px;
}

#login #content {
	width: 400px;
	margin: 0 auto;
	float: none;
}

#content .title .actions {
	visibility: hidden;
}

#content .title:hover .actions {
	visibility: visible;
}

#content tr.ui-selected.active td,
#content table tr.active td {
	background: #ffa !important;
}

#content .even.ui-selected td {
	background: #eea !important;
}

#content .odd.ui-selected td {
	background: #dda !important;
}

#content tfoot td {
	padding: 5px;
}

.multiple-list {
	margin-bottom: 20px;
	border-bottom: solid 1px #333;
}

.photo-input {
	text-align: center;
}

.photo-input img {
	width: 100%;
	margin: 10px auto;
	display: block;
	border: none;	
}

.photo-input>a {
	display: block;
	margin: 10px;
	overflow: hidden;
}

.photo-input>h2>a {
	float: right;
	margin-top: -2px;
	font-weight: normal;	
}

.photo-input>label>a {
	margin-left: 20px;	
}

.title .button {
	margin: 3px;
	display: inline-block;
}

.theme {
	float:left;	
	margin-right:10px;
	margin-bottom:10px;
	padding: 10px; 
	background: #333;
	-moz-border-radius:10px;
	border-radius:10px;
	color:#eee;
}

.theme.active {
	background: #369 !important;	
}

.theme * {
	color:#eee;
}

.theme .thumb {
	width: 250px;
	height: 200px;
	overflow: hidden;	
	background: #fff;
	padding: 5px;
	margin-bottom: 10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.theme .thumb img {
	border: none;	
}

.theme .description {
	display: none;
	position: absolute;
	
}

.theme .description * {
	color:#333 !important;
}

.theme:hover {
	background: #444;
}

.theme:hover .description {
	display: block;
	background: #fff;
	opacity:0.9;
	padding:10px;
	margin-top:-150px;
	margin-left:150px;
}

#menu-management {
	width: 300px;	
}

#menu-management ul {
	padding-left: 20px;
}

#menu-management .menu {
	list-style: none;
}

#menu-management .menu h3 {
	background: #333;
	color:#fff;
	padding: 5px 10px;
	-moz-border-radius:10px;
	margin-top: 10px;
}

#content img {
	border: none;
}

.module ul {
	margin-left: 20px;
	margin-top: 5px;	
}

.module li {
	list-style: none;	
}

.module li a {
	display: inline-block;
	background: #aaa;
	color:#333;
	padding: 3px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom: 5px;
}

#header #site a {
	background: none !important;
}

#site a:hover {
	text-decoration: underline;
}

.notifications {
	background: #fff;
	padding: 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.statistics ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 10px;
}

.overview ul {
	padding-left:30px;
		
}

.overview ul li {
	list-style: square;	
}

.overview li {
	list-style: none;
}

.overview>li { 
	display:inline-block;
	float: left;
	margin-right: 20px;
	width: 200px;
	border: solid 1px #eee;
	-moz-border-radius:10px;
	border-radius:10px;
}

.overview a {
	display: block;	
	padding: 5px;
}

.overview a em {
	display: block;
}

.selected {
	background: #999;
}

.filter li a {
	display: block;
	padding: 3px;	
}