@import "content.css";

body {
    font-family: "Ubuntu", "Candara", Verdana, sans-serif;
    color: #333;
    padding: 10px;
    background: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    min-height: 90%;
    opacity: 0.9;
}

#header {
    height: 50px;
}

#header h1 {
    display: inline-block;
    float: left;
    color: #c73e14;
    font-size: 20px;
}

#header h1 a {
    color: #c73e14;
}

#header #menu-main ul {
    text-align: right;
}

#header #menu-main li {
    display: inline-block;
}

#header #menu-main li a {
    display: block;
    padding: 10px;
    color: #c73e14;
    text-decoration: none !important;
}

#header #menu-main li.active a,
#header #menu-main li a:hover {
    border-bottom: solid 1px #c73e14;
}

#content {
    padding: 10px;
    width: 900px;
    margin: 0 auto;
}

#content a {
    color: #DF6300;
}

#footer {
    padding: 10px;
    color: #eee;
}

#footer a {
    color: #fff;
}