@import "content.css";

body {
	font-family: Georgia, sans-serif;
	color: #333;
}

a {
	outline: none;	
	color:#9c0000;
}

img {
	border: none;
}

#header {
	overflow: hidden;	
}

#header img {
	float: left;	
}

#menu {
	float: left;
	list-style: none;	
}

#menu li {
	display: inline-block;	
}

#menu li ul {
	position: absolute;	
	visibility: hidden;
	padding-top:10px;
	margin-left: -10px;
}

#menu li:hover>ul {
	visibility: visible;
}

#menu li.active a,
#menu li a:hover {
	background: #666;
	color:#eee;	
}

#menu li a {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 5px;
	background: #eee;
	-moz-border-radius:10px;
	border-radius:10px; 	
	text-decoration: none;
	color:#333;
}

#content {
	width:600px;
	margin:0 auto;
}

#content h2 {
	border-bottom:solid 1px #333;
}

#content h3 a {
	text-decoration: none;
	color:#333;	
}

	#content h3 a:hover {
		text-decoration: underline;
	}

#content .post {
	
}

pre,
.notice,
.error {
	-moz-border-radius:10px;
	border-radius:10px;
	padding:10px;
	margin-bottom:1em;
	background:#9c1111;
	color:#fff;
}

pre {
	background:#eee;
	color:#333;
}

.notice {
	background:#ccc;
	color:#333;
}

.comments,
.user {
	display:inline-block;
	font-size:75%;
	color:#666;
	width:150px;
}

.post .bottom {
	background:#eee;
	margin-top:20px;
	border-bottom:solid 1px #ccc;
	border-top:solid 1px #ccc;
	padding:2px;
}
