#dev-editor-selector {
    
}

.toolbar {
    padding: 5px;
    background: #eee;
    border-radius: 10px;
}

#menu-icon {
    border: solid 1px #aaa;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.menu-wrapper input {
    border: solid 1px #333;
    padding: 3px;
    font-family: Verdana;
    color: #333;
    width: 50%;
}

.menu-wrapper {
    width: 400px;
    float: left;
}

.menu-wrapper label {
    width: 100%;
    display: block;
    margin-left: 10px;
}

.menu-wrapper label span {
    width: 80px;
    display: inline-block;

}

.menu-selector {
    clear: both;
}

.menu-options {
    clear: both;
}

.dev-editor .delete,
.dev-editor .save {
    float: right;
    margin-left: 5px;
}