/* <reset> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
p {
	line-height: 1.3em;
	margin-bottom: 5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* </reset> */

/* <utils> */
.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.justify {
    text-align: justify;
}

.margin-10 {
    margin: 10px;
}

.padding-10 {
    padding: 10px;
}

pre,
.notice,
.error {
	-moz-border-radius:10px;
	border-radius:10px;
	padding:10px;
	margin-bottom:1em;
	background:#9c1111;
	color:#fff;
}

pre {
	background:#eee;
	color:#333;
}

.notice {
	background:#ccc;
	color:#333;
}
/* </utils> */

/* <no-image> */
.no-image {
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border: solid 1px #333;
    color: #9c0000;
    text-align: center;
}
/* </no-image> */